/* FILTROS */

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
  padding: 16px;
  background: white;
  border-radius: 16px;
  border: 2px solid #f2d6c2;
}

.filter-group {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.filter-group label {
  margin-bottom: 8px;
  color: #8c5b3f;
}

.filter-group input,
.filter-group select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px solid #f2d6c2;
}

.filter-group input[type="number"]::-webkit-outer-spin-button,
.filter-group input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-group input[type="number"] {
  -moz-appearance: textfield;
  max-width: 80px;
}

.filter-group input[type="text"] {
  min-width: 260px;
}

.filter-group select {
  min-width: 200px;
}

/* GALERIA */

.gallery {
  display: grid;
  gap: 16px;
  margin-bottom: 48px;
  grid-template-columns: repeat(2, 1fr);
}

/* CARD */

.photo-card {
  background: #fffdfb;
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid #f2d6c2;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
  cursor: pointer;
}

.photo-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

.photo-card img {
  display: block;
  margin: 0 auto;
  height: 200px;
}

.card-content {
  padding: 16px;
}

.card-content p {
  font-size: 14px;
  margin-bottom: 6px;
}

.year-range {
  font-weight: 600;
  color: #8c5b3f;
}

/* FOOTER */

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background: #8c5b3f;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: sans-serif;
  z-index: 1000;
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.footer-center {
  justify-content: center;
  flex: 1;
}

.footer-left {
  min-width: 250px;
}

.footer-right {
  min-width: 200px;
  justify-content: flex-end;
}

.upload-button {
  background: white;
  color: #8c5b3f;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 13px;
}

.upload-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

/* MODAL */

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8888;
}

.hidden {
  display: none;
}

.modal h3 {
  display: block;
  margin: 16px auto;
}

.modal-content {
  background: white;
  padding: 16px;
  width: 400px;
  max-width: 90%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content form div {
  display: flex;
  justify-content: space-between;
}

.modal-content form label {
  display: inline-block;
  margin-bottom: 8px;
  color: #8c5b3f;
}

.modal input,
.modal select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px solid #f2d6c2;
  margin-bottom: 16px;
}

.modal input[type="number"]::-webkit-outer-spin-button,
.modal input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal input[type="number"] {
  -moz-appearance: textfield;
  max-width: calc(50% - 8px);
}

.modal input[type="text"],
.modal select {
  min-width: 100%;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#logoutButton {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
}

.modal-actions button[type="submit"] {
  background: linear-gradient(135deg, #d9a066, #c08552);
  color: white;
}

.modal-actions button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(192, 133, 82, 0.3);
}

/* RESPONSIVIDADE */

/* Tablet */
@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Desktop grande */
@media (min-width: 1600px) {
  .gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}
